.status-R {
  margin: 2vh 0vh 4vh 0vh;
  padding: 1.5vh 2vh 1.5vh 2vh;
  width: 60vh;
  background-image: linear-gradient(to right, red, rgb(250, 100, 100));
  border-radius: 100pc;
  font-size: 3vh;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.status-Y {
  margin: 2vh 0vh 4vh 0vh;
  padding: 1.5vh 2vh 1.5vh 2vh;
  width: 60vh;
  background-image: linear-gradient(to right, rgb(255, 255, 150), yellow);
  border-radius: 100pc;
  font-size: 3vh;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.status-T {
  margin: 2vh 0vh 4vh 0vh;
  padding: 1.5vh 2vh 1.5vh 2vh;
  width: 60vh;
  background-color: lightslategray;
  border-radius: 100pc;
  font-size: 3vh;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.spinning-disc {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spinning-disc {
    animation: disc-spin infinite 5s linear;
  }
}

/* all other browsers */
@keyframes disc-spin {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

/* WebKit and Opera browsers */
@-webkit-keyframes disc-spin {
  from { -webkit-transform: rotateY(0deg);    }
  to   { -webkit-transform: rotateY(-360deg); }
}
